.buttondown-embed {
    display:flex;
    background: inherit;
    font-family: inherit;
    color: #E7E5E4;
    text-align: center;
    border-radius: 5px;
}

form {
    display: flex;
    width: 100%;
    margin: 1em auto;
}

.buttondown-header {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.buttondown-description {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
}

.buttondown-input {
    display: block;
    align-items: center;
}

.button {
    height: 44px;
    border: none;
}

#member_name {
    width: 80%;
    font-size: 14px;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 5px 5px 5px;
}

#member_email {
    width: 100%;
    font-size: 14px;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 5px 5px 5px;
}

#member_submit {
    width: 35%;
    height: 46px;
    font-size: 14px;
    background: #3F6212;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#member_submit:hover {
    background: #065F46;
}

input:focus {
    outline:none;
    outline: 2px solid #065F46;
    box-shadow: 0 0 2px #065F46;
}
input[type=name] {
    border: 2px solid #3F6212;;
    border-radius: 5px;
}
input[type=email]{
    border: 2px solid #3F6212;;
    border-radius: 5px;
    margin: 1em;
}