<!-- 
	
	=======
	Wiklinks
	=======
 -->
 
 {{ $firstBracket := "\\[\\[" }}
 {{ $lastBracket := "\\]\\]" }}
 
 {{ $wikiregex := "\\[\\[([^/]+?)\\]\\]" }}
 
 {{ $wikilinks := .Content | findRE $wikiregex }}
 
 {{ $.Scratch.Add "content" .RawContent }}
 
 {{ range $wikilinks }}
 
     {{ $content := . | replaceRE $wikiregex "$1" }}
     {{ $content := $content | replaceRE "\\?" "\\?" }}
 
     {{ $wikilink :=  printf "%s%s%s" $firstBracket $content $lastBracket }}
     
     {{ $anchorized := $content | anchorize }}
 
     {{ $link := printf "%s%s%s%s%s%s" "<a href=\"" $anchorized ".html" "\">" $content "</a>" }}
     
     {{ $noteContent := $.Scratch.Get "content" | replaceRE $wikilink $link }}
     {{ $.Scratch.Set "content" $noteContent }}
 {{ end }}
 
 {{ $content := .Scratch.Get "content" }}
 
 <!-- 
     ====
     TAGS
     ====
     
  -->
 
 
 <!-- 
     ===================================
     Regular tags followed by a new line 
     ===================================
 
     #mytag/with-no-espaces
 
     New line
 -->
 {{ $tagregexN := "#([^#\\s\\,:}]+)\\n" }}
 
 
 <!-- 
     ===================================
     Regular tags followed by a hashtag
     ===================================
 
     #mytag/with-no-espaces
 
     New line
 -->
 {{ $tagregexH := "#([^#\\s\\,:}]+)#" }}
 
 <!-- 
     ======================
     Tags containing spaces 
     ======================
 
     #mytag/with espaces#
 -->
 {{ $tagregexS := "#([^\\s^#][^#]*[^\\s^#])#" }}
 
 
 <!-- 
     ============
     Regular tags 
     ============
 
     #mytag
     #mytag/could/be/nested
 -->
 {{ $tagregex := "[^/a-z]#([^#\\s\\,:}]+)" }}
 

 
 <!--
     ======================
     Misc regex replacement
     ======================
  -->
  
  {{ $rightArrow := "<svg width=\"11px\" height=\"10px\" viewBox=\"0 0 11 10\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" ><g id=\"right-arrow\" ><path d=\"M1.77635684e-14,5 L9,5\" id=\"rod\" stroke=\"#000000\" stroke-width=\"2\" ></path><path d=\"M11,5 L6,0.5 L6,9.5 L11,5 Z\" id=\"point\" fill=\"#000000\"></path></g></svg>" }}
  
  {{ $leftArrow := "<svg width=\"11px\" height=\"10px\" viewBox=\"0 0 11 10\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"> <g id=\"left-arrow\" transform=\"translate(5.500000, 5.000000) scale(-1, 1) translate(-5.500000, -5.000000) \"> <path d=\"M1.77635684e-14,5 L9,5\" id=\"rod\" stroke=\"#000000\" stroke-width=\"2\"></path> <path d=\"M11,5 L6,0.5 L6,9.5 L11,5 Z\" id=\"point\" fill=\"#000000\"></path></g></svg>" }}
  
 {{ $content := $content | replaceRE "->" $rightArrow }}
 {{ $content := $content | replaceRE "<-" $leftArrow }}
 {{ $content := $content | replaceRE "::([^/]+?)::" "<mark>$1</mark>" }}
 {{ $content := $content | replaceRE "==([^/]+?)==" "<mark>$1</mark>" }}
 
 {{ $content | markdownify }}
 