<!-- Newsletter Signup -->
<!--Reference URL: https://www.augusteo.com/blog/how-to-build-responsive-newsletter-signup-box-for-hugo/ -->
<style type="text/css" media="screen">
    {{ partial "css/newsletter.css" . | safeCSS }}
</style>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

<h3>If this interests you, consider subscribing!</h3>

<div id="buttondown-embed" class="buttondown-embed">
    <form action="https://buttondown.email/api/emails/embed-subscribe/Glitchbyte" method="post" id="buttondown-form" name="buttondown-form"
    method="post"
    target="popupwindow"
    class="embeddable-buttondown-form">
        <div class="buttondown-input">
            <!-- <input type="text"  id="member_name" class="button" name="metadata__member_name" required placeholder="Your name..."> -->
            <input type="email" class="button" name="email" id="member_email" required placeholder="Your email...">
            <input type="submit" class="button" name="subscribe" id="member_submit" value="Subscribe">
        </div>
    </form>
</div>
